.delete-member-btn {
	align-self: flex-end;
	height: auto;
	width: max-content;
	margin-top: 2rem;
	padding: 0.9rem 1.4rem 0.8rem 1.4rem;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: 550;
	color: var(--white);
}
@media only screen and (max-width: 380px) {
	.delete-member-btn {
		padding-top: 1.1rem;
	}
}

.delete-all-members-btn {
	margin-top: 1.5rem;
}