.spinner-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: var(--color-3-opaque);
}

.spinner-overlay > *{
  /* height: 100%;
  padding-top: 40vh; */
  position: absolute;
  top: 50%;
  /* width: 100%; */
  transform: scale(150%) translateY(-50%);
}
