.auth-container {
	width: 42.5rem;
	margin: auto;
	background-color: var(--white-darker-slight-opaque);
	box-shadow: 0 0 2rem 0 var(--gray-opaque-2);
}
@media only screen and (max-width: 430px) {
	.auth-container {
		width: 100%;
		overflow-x: hidden;
	}
}