.auth-change {
	margin-top: 6.5rem;
	padding: 2.6rem 2.4rem 0 2.4rem;
	text-align: center;
	background-color: var(--color-3);
	border-radius: 200% 50% 0 0 / 24rem 4rem 0 0;
	box-shadow: 0 -2rem 0 0 var(--color-2);
}

.auth-change-btn {
	margin-top: 2rem;
	margin-bottom: 4.2rem;
}
.auth-change-btn:hover,
.auth-change-btn:focus {
	box-shadow: 0 0.45rem 0.45rem 0 var(--gray-opaque-2);
}
